extends layout
block content
    div(id="Header")
        h4 You are playing as:
        h1(id="currentUser")= username
        form(method="post", id="quit")
            input(type="hidden" name="type" value="quit")
            input(type="hidden" name="username" value=username)
            input(type="submit" value="quit")
    div(class="game-div" id="gameContainer")
    button(id="readyButton") READY (W)
    br
    br
    div(id="bottom")
        div(id="howToPlay", class="text")
            h3 How to play:
            p When connected the server waits for an even ammount of players in each Team. 
            p Once thats the case, the READY button will appear below the game window. When each player pressed their READY button a countdown will appear in the middle of the screen after wich the game starts.
            p The Goal of the game is to push the black ball into the goal of the opposing Team.
            p You can see your own team in the upper right corner and your player is marked with a green dot.
            p When a goal is scored, the field will reset and everyone needs to ready up again.
            p The first team to reach 6 goals wins
            p You can see the current gamestate in the upper left corner.
        div(id="inputs", class="text")
            h3 Inputs:
            ul
                li "mouseMovement" move you character around
                li "Left Mouse Button" lock mouse
                li "Q" or "ESC" to release mouse lock
                li "W" to press the ready button
                li Mouse speed(maximum player speed is capped, so choose with caution):
                    input(type="range", min="1", max="100", value="20", id="input", class="text")
                    p(id="mouseSpeed", class="text") current: 20
    script(src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js")
    script(src="gamefiles/config.js")
    script(src="gamefiles/game.js")