extends layout

block content
  div(id="login" class="text")
    h1(id="title")= title
    p Welcome to #{title}, an online football game by Maximilian P.
    p please choose a diplay-name below
    form(method="post")
      input(type="hidden" name="type" value="play")
      input(placeholder="Username", name="username", type="text", size="24", maxlength="16" , required="required", pattern="[A-Za-z0-9]+")
      input(type="submit", id="sub", value="play")
  div(id="howToPlay", class="text")
            h3 How to play:
            p When connected the server waits for an even ammount of players in each Team. 
            p Once thats the case, the READY button will appear below the game window. When each player pressed their READY button a countdown will appear in the middle of the screen after wich the game starts.
            p The Goal of the game is to push the black ball into the goal of the opposing Team.
            p You can see your own team in the upper right corner.
            p When a goal is scored, the field will reset and everyone needs to ready up again.
            p The first team to reach 6 goals wins
            p You can see the current gamestate in the upper left corner.
  script(src="javascripts/main.js")
